In [1]:
import pandas as pd
data = pd.read_csv(r'C:\Users\LENOVO\Downloads\Project4_Ag_Prediction of Agriculture Crop Production In India\datafile (1).csv')
data.head()
print(data)

                    Crop           State  Cost_of_Cultivation1    \
0                  ARHAR   Uttar Pradesh                 9794.05
1                  ARHAR       Karnataka                10593.15
2                  ARHAR         Gujarat                13468.82
3                  ARHAR  Andhra Pradesh                17051.66
4                  ARHAR     Maharashtra                17130.55
5                 COTTON     Maharashtra                23711.44
6                 COTTON          Punjab                29047.10
7                 COTTON  Andhra Pradesh                29140.77
8                 COTTON         Gujarat                29616.09
9                 COTTON         Haryana                29918.97
10                  GRAM       Rajasthan                 8552.69
11                  GRAM  Madhya Pradesh                 9803.89
12                  GRAM   Uttar Pradesh                12833.04
13                  GRAM     Maharashtra                12985.95
14                  GRAM  Andhra Pradesh                14421.98
15             GROUNDNUT       Karnataka                13647.10
16             GROUNDNUT  Andhra Pradesh                21229.01
17             GROUNDNUT      Tamil Nadu                22507.86
18             GROUNDNUT         Gujarat                22951.28
19             GROUNDNUT     Maharashtra                26078.66
20                 MAIZE           Bihar                13513.92
21                 MAIZE       Karnataka                13792.85
22                 MAIZE       Rajasthan                14421.46
23                 MAIZE   Uttar Pradesh                15635.43
24                 MAIZE  Andhra Pradesh                25687.09
25                 MOONG          Orissa                 5483.54
26                 MOONG       Rajasthan                 6204.23
27                 MOONG       Karnataka                 6440.64
28                 MOONG  Andhra Pradesh                 6684.18
29                 MOONG     Maharashtra                10780.76
30                 PADDY   Uttar Pradesh                17022.00
31                 PADDY          Orissa                17478.05
32                 PADDY     West Bengal                24731.06
33                 PADDY          Punjab                25154.75
34                 PADDY  Andhra Pradesh                29664.84
35  RAPESEED AND MUSTARD  Madhya Pradesh                 8686.43
36  RAPESEED AND MUSTARD       Rajasthan                11385.70
37  RAPESEED AND MUSTARD   Uttar Pradesh                12774.41
38  RAPESEED AND MUSTARD         Gujarat                13740.64
39  RAPESEED AND MUSTARD         Haryana                14715.27
40             SUGARCANE   Uttar Pradesh                24538.32
41             SUGARCANE       Karnataka                55655.44
42             SUGARCANE  Andhra Pradesh                56621.16
43             SUGARCANE     Maharashtra                57673.60
44             SUGARCANE      Tamil Nadu                66335.06
45                 WHEAT  Madhya Pradesh                12464.40
46                 WHEAT          Punjab                17945.58
47                 WHEAT   Uttar Pradesh                18979.38
48                 WHEAT       Rajasthan                19119.08

    Cost_of_Cultivation 2  Cost_of_Production3    Yield
0                23076.74              1941.55     9.83
1                16528.68              2172.46     7.47
2                19551.90              1898.30     9.59
3                24171.65              3670.54     6.42
4                25270.26              2775.80     8.72
5                33116.82              2539.47    12.69
6                50828.83              2003.76    24.39
7                44756.72              2509.99    17.83
8                42070.44              2179.26    19.05
9                44018.18              2127.35    19.90
10               12610.85              1691.66     6.83
11               16873.17              1551.94    10.29
12               21618.43              1882.68    10.93
13               18679.33              2277.68     8.05
14               26762.09              1559.04    16.69
15               17314.20              3484.01     4.71
16               30434.61              2554.91    11.97
17               30393.66              2358.00    11.98
18               30114.45              1918.92    13.45
19               32683.46              3207.35     9.33
20               19857.70               404.43    42.95
21               20671.54               581.69    31.10
22               19810.29               658.77    23.56
23               21045.11              1387.36    13.70
24               37801.85               840.58    42.68
25                8266.98              2614.14     3.01
26                9165.59              2068.67     4.05
27                7868.64              5777.48     1.32
28               13209.32              2228.97     5.90
29               15371.45              2261.24     6.70
30               28144.50               732.62    36.61
31               25909.05               715.04    32.42
32               33046.12               731.25    39.04
33               45291.24               669.86    67.41
34               46450.20               789.90    56.00
35               17705.93              1279.60    12.94
36               19259.84              1341.29    13.54
37               22560.30              1595.56    13.57
38               19083.55              1610.40    11.61
39               27507.54              1251.12    19.94
40               45239.51                93.64   448.89
41               86765.77                86.53   986.21
42               91442.63               119.72   757.92
43               85801.95               107.56   744.01
44               89025.27                85.79  1015.45
45               22489.75               810.25    23.59
46               35423.48               804.80    39.83
47               31902.74               769.84    34.99
48               29876.36               683.58    37.19

In [2]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
Crop = le.fit_transform(data.Crop)
State = le.fit_transform(data.State)
 
data['Crop'] = Crop
data['State'] = State

In [3]:
data.head(1)

,Crop,State,Cost_of_Cultivation1,Cost_of_Cultivation 2,Cost_of_Production3,Yield
0,0,11,9794.05,23076.74,1941.55,9.83

In [4]:
from sklearn.model_selection import train_test_split
#from sklearn.cross_validation import train_test_split
X = data.iloc[:,:-1]
y = data.iloc[:,-1]
X_train,X_test,Y_train,Y_test = train_test_split(X,y,test_size=0.2,random_state=100)
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import roc_auc_score , classification_report, mean_squared_error, r2_score
forest = RandomForestRegressor(n_estimators=1000, 
                               criterion='mse', 
                               random_state=1, 
                               n_jobs=-1)
forest.fit(X_train, Y_train)
y_train_pred = forest.predict(X_train)
y_test_pred = forest.predict(X_test)

print('MSE train: %.3f, test: %.3f' % (
        mean_squared_error(Y_train, y_train_pred),
        mean_squared_error(Y_test, y_test_pred)))
print('R^2 train: %.3f, test: %.3f' % (
        r2_score(Y_train, y_train_pred),
        r2_score(Y_test, y_test_pred)))

MSE train: 799.719, test: 5154.976
R^2 train: 0.981, test: 0.955

In [5]:
print(forest.score(X_test,Y_test))

0.9553967078024351

In [6]:
forest.predict(X_test)

array([ 83.05572,  76.137  , 106.23858,   6.00038, 748.37636,  45.96035,
        11.91876,  38.08375, 773.31673,  34.86865])

In [7]:
X_test

,Crop,State,Cost_of_Cultivation1,Cost_of_Cultivation 2,Cost_of_Production3
6,1,8,29047.10,50828.83,2003.76
20,4,1,13513.92,19857.70,404.43
33,6,8,25154.75,45291.24,669.86
28,5,0,6684.18,13209.32,2228.97
42,8,0,56621.16,91442.63,119.72
48,9,9,19119.08,29876.36,683.58
5,1,6,23711.44,33116.82,2539.47
32,6,12,24731.06,33046.12,731.25
41,8,4,55655.44,86765.77,86.53
31,6,7,17478.05,25909.05,715.04

In [8]:
forest.predict([[0,11,9794.05,23076.74,1941.55]])

array([10.13314])

In [9]:
Crop=input('enter crop:')
State=input('enter state:') 
Cost_of_Cultivation1=input('enter Cost of Cultivation   :')
Cost_of_Cultivation2=input('enter Cost of Cultivation  :')
Cost_of_Production3=input('enter Cost of Production  :')
out_1 = forest.predict([[float(Crop),
       float(State),
       float(Cost_of_Cultivation1),
       float(Cost_of_Cultivation2),
       float(Cost_of_Production3),
        ]])
print(out_1)
print('crop yield Production:',out_1)

enter crop:0
enter state:11
enter Cost of Cultivation   :9794.05
enter Cost of Cultivation  :23076.74
enter Cost of Production  :1941.55
[10.13314]
crop yield Production: [10.13314]

In [10]:
from tkinter import *
from tkinter import ttk

root = Tk()
root.title('Crop Yield   Prediction System')
root.geometry('900x700')
root.configure(background="orange")
var = StringVar()
label = Label( root, textvariable = var,font=('Times New Roman',20,'bold'),bd=20,background="orange")
var.set('Crop Yield  Prediction System')
label.grid(row=0,columnspan=6)

label_1 = ttk.Label(root, text ='Crop',font=("Times New Roman", 16),background="orange")
label_1.grid(row=11,column=0)
    
Entry_1= Entry(root)
Entry_1.grid(row=11,column=1)

label_2 = ttk.Label(root, text ='State',font=("Times New Roman", 16),background="orange")
label_2.grid(row=12,column=0)
    
Entry_2 = Entry(root)
Entry_2.grid(row=12,column=1)
    
    
label_3 = ttk.Label(root, text ='Cost_of_Cultivation1',font=("Times New Roman", 16),background="orange")
label_3.grid(row=13,column=0)
    
Entry_3 = Entry(root)
Entry_3.grid(row=13,column=1)

label_4 = ttk.Label(root, text ='Cost_of_Cultivation2',font=("Times New Roman", 16),background="orange")
label_4.grid(row=14,column=0)
    
Entry_4= Entry(root)
Entry_4.grid(row=14,column=1)

label_5 = ttk.Label(root, text ='Cost_of_Production3',font=("Times New Roman", 16),background="orange")
label_5.grid(row=15,column=0)
    
Entry_5 = Entry(root)
Entry_5.grid(row=15,column=1)

def predict():
    Crop = Entry_1.get()
    State = Entry_2.get()
    Cost_of_Cultivation1 = Entry_3.get()
    Cost_of_Cultivation2= Entry_4.get()
    Cost_of_Production3= Entry_5.get()
     
    out_1 = forest.predict([[float(Crop),
       float(State),
       float(Cost_of_Cultivation1),
       float(Cost_of_Cultivation2),
       float(Cost_of_Production3),
        ]])
    
    output.delete(0,END)
    output.insert(0,out_1)
   
        

b1 = Button(root, text = 'predict',font=("Times New Roman", 16),background="orange",command = predict)
b1.grid(row=20,column=0)
    
output = Entry(root)
output.grid(row=20,column=1)
    
root.mainloop()